{% extends "blank.html" %}
{% block title %}
<title>HASLM-manage machines</title>
{% endblock %}

{% block head %}
MANAGE MACHINES
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create machine</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" id="f_create" method="POST" action="" enctype="multipart/form-data">
                    <fieldset>
                        {{form_add.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form_add.domain, class="text-primary form-control create_machine_domain", placeholder="dev.haslm.hse.ru") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form_add.host, class="text-primary form-control create_machine_host", placeholder="127.0.0.1") }}
                        </div>
                        <p id="msg_create"></p>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Remove machine</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" id="f_remove" method="POST" action="" enctype="multipart/form-data">
                    <fieldset>
                        {{form_delete.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form_delete.host, class="text-primary form-control remove_machine_host", placeholder="256.256.256.256") }}
                        </div>
                        <p id="msg_remove"></p>
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}

<script src="/static/js/forms/manage_machines.js"></script>

{% endblock %}