{% extends "blank.html" %}
{% block title %}
<title>HASLM-accesses</title>
{% endblock %}

{% block head %}
ACCESSES
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-6">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Grant</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" id="f_grant" action="" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        {{grant_form.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(grant_form.login, class="text-primary form-control grant_access_logins", placeholder="someone@edu.hse.ru/hse.ru") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(grant_form.host, class="text-primary form-control grant_access_hosts", placeholder="127.0.0.1") }}
                        </div>
                        <p id="msg_grant"></p>
                        <button type="submit" class="btn btn-primary">Grant</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Revoke</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" id="f_revoke" action="" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        {{revoke_form.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(revoke_form.login, class="text-primary form-control revoke_access_logins", placeholder="someone@edu.hse.ru/hse.ru") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(revoke_form.host, class="text-primary form-control revoke_access_hosts", placeholder="127.0.0.1") }}
                        </div>
                        <p id="msg_revoke"></p>
                        <button type="submit" class="btn btn-primary">Revoke</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}

<script src="/static/js/forms/manage_accesses.js"></script>

{% endblock %}