{% extends "blank.html" %}
{% block title %}
<title>HASLM-activity</title>
{% endblock %}

{% block styles %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block head %}
ACTIVITY
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive-sm">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Time</th>
                        <th class="text-center">Executor</th>
                        <th class="text-center">Action</th>
                        <th class="text-center">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs.values() %}
                    <tr>
                        <td class="text-center align-middle"> {{log.get('update_time', '')}} </td>
                        <td class="text-center align-middle"> {{log.get('executor', '')}} </td>
                        <td class="text-center align-middle"> {{log.get('action', '')}} </td>
                        <td class="text-center align-middle"> {{log.get('description', '')}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/js/datatables.js"></script>
{% endblock %}