<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="/static/img/favicon.ico">

        {% block title%}
        <title>HASLM</title>
        {% endblock %}

        <!-- Custom fonts for this template-->
        <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

        {% block styles%}
        {% endblock %}

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                {% if current_user.admin %}

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/machines">
                    <div class="sidebar-brand-icon">
                        <img class="img-fluid" style="max-width: 50%;" src="/static/img/HASLM_logo_2.png">
                    </div>
                    <div class="sidebar-brand-text mx-3">HASLM</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider d-md-block">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Machines
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="/machines">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Machines</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/_manage_machines">
                        <i class="fas fa-fw fa-desktop"></i>
                        <span>Manage machines</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-md-block">

                <div class="sidebar-heading">
                    Users
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="/users">
                        <i class="fas fa-fw fa-user"></i>
                        <span>User list</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/_manage_users">
                        <i class="fas fa-fw fa-users-cog"></i>
                        <span>Manage users</span></a>
                </li>

                <hr class="sidebar-divider d-md-block">

                <div class="sidebar-heading">
                    Other
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="/_manage_accesses">
                        <i class="fas fa-fw fa-key"></i>
                        <span>Manage accesses</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/activity">
                        <i class="fas fa-fw fa-calendar-check"></i>
                        <span>Activity</span></a>
                </li>

                <hr class="sidebar-divider">

                <li class="nav-item">
                    <a class="nav-link" href="/_settings">
                        <i class="fas fa-fw fa-cogs"></i>
                        <span>Settings</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

                {% else %}

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/machines">
                    <div class="sidebar-brand-icon">
                        <img class="img-fluid" style="max-width: 50%;" src="/static/img/HASLM_logo_2.png">
                    </div>
                    <div class="sidebar-brand-text mx-3">HASLM</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <li class="nav-item">
                    <a class="nav-link" href="/machines">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Machines</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <li class="nav-item">
                    <a class="nav-link" href="/instructions">
                        <i class="fas fa-fw fa-question-circle"></i>
                        <span>Instructions</span></a>
                </li>

                <hr class="sidebar-divider">
                
                <li class="nav-item">
                    <a class="nav-link" href="/settings">
                        <i class="fas fa-fw fa-cogs"></i>
                        <span>SSH-keys</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

                {% endif %}

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <form class="c_title d-none d-sm-inline-block form-inline mr-auto h3 text-gray-800">{% block head%}Blank Page{% endblock %}</form>


                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item">
                                <a class="nav-link" href="#" role="button" data-toggle="modal" data-target="#logoutModal">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{current_user.login}}</span>
                                    <img class="img-profile rounded-circle" src="https://cdn0.iconfinder.com/data/icons/win8-and-ios-tab-bar-icons/60/Admin.png">
                                </a>
                            </li> 

                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading
                            <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
                        -->

                        {% block content%}
                        {% endblock %}

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>HASLM project &copy; MirDim team 2018-2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" style="border-radius: 10rem;" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" style="border-radius: 10rem;" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/static/js/sb-admin-2.min.js"></script>

        {% block extra_js %}
        {% endblock %}

    </body>

</html>
