<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <title>HASLM</title>

        <!-- Custom fonts for this template-->
        <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body class="bg-gradient-primary">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block">
                                    <img src="/static/img/logo-hse-raven.png" class="img-fluid" alt="Responsive image"></img>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome to HASLM!</h1>
                                        </div>
                                        <!-- <form class="user"> -->
                                            {% from "_formhelpers.html" import render_field %}
                                            <form role="form" action="login" method="POST" name="login" enctype="multipart/form-data">
                                                <fieldset>
                                                    {{form.hidden_tag()}}
                                                    <div class="form-group">
                                                        <input class="text-primary form-control form-control-user" style="border-radius: 10rem;" id="email" aria-describedby="emailHelp" name="email" required type="text" value="" placeholder="Enter Email Address...">
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="text-primary form-control form-control-user" style="border-radius: 10rem;" id="password" name="password" type="password" value="" placeholder="Password">
                                                    </div>
                                                    <p>{{message}}</p>
                                                    <input class="btn btn-primary btn-user btn-block" style="border-radius: 10rem;" type="submit" value="Login"> 
                                                </fieldset>
                                            </form>
                                        <!-- </form> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/static/js/sb-admin-2.min.js"></script>

    </body>

</html>
