{% extends "blank.html" %}
{% block title %}
<title>HASLM-{{title_domain}}({{title_address}})</title>
{% endblock %}

{% block styles %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block head %}{{title_domain}}({{title_address}}){% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Login</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Surname</th>
                                <th class="text-center">Admin</th>
                                <th class="text-center">Revoke access</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in usrs.values() %}
                            <tr>
                                <td class="text-center"><a class="btn btn-link" href="/user/{{user.get('login', '')}}" role="button"> {{user.get('login', '')}} </a></td>
                                <td class="text-center align-middle"> {{user.get('name', '')}} </td>
                                <td class="text-center align-middle"> {{user.get('surname', '')}} </td>
                                <td class="text-center align-middle"> {{user.get('admin', '')}} </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-icon-split delete_a" id="{{user.get('login', '')}},{{title_address}}" data-toggle="tooltip">
                                        <span class="icon">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">Revoke</span>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Grant</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" action="" method="POST" name="" enctype="multipart/form-data">
                    <fieldset>
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form.login, class="form-control", placeholder="someone@edu.hse.ru") }}
                        </div>
                        <p>{{message}}</p>
                        <input class="btn btn-primary" type="submit" value="Submit"> 
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}

<script src="/static/js/deletion/accesses.js"></script>

<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/js/datatables.js"></script>

{% endblock %}

