{% extends "blank.html" %}
{% block title %}
<title>HASLM-machines</title>
{% endblock %}

{% block styles %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block head %}
MACHINES
{% endblock %}


{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Machines</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Domain</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">Open Web Shell</th>
                        <th class="text-center">Connect via SSH</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for machine in machines.values() %}
                    <tr>
                        <td class="text-center"><a class="btn btn-link" href="/_machine/{{machine.get('address', '')}}" role="button"> {{machine.get('domain', '')}} </a></td>
                        <td class="text-center align-middle"> {{machine.get('address', '')}} </td>
                        <td class="text-center text-light"><a class="btn btn-primary btn-icon-split" onclick="getWebTerminal('{{machine.address}}')" data-toggle="tooltip" role="button">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Open</span>
                        </a></td>
                        <td class="text-center"><button type="button" class="btn btn-primary btn-icon-split ssh_copy" id="ssh {{current_user.login}}@{{machine.get('address', '')}}:22">
                            <span class="icon">
                                <i class="fas fa-paste"></i>
                            </span>
                            <span class="text">SSH link</span>
                        </button></td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-icon-split delete_m" id="{{machine.get('address', '')}}" data-toggle="tooltip">
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Delete</span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="/static/js/ssh_copy_clipboard.js"></script>

<script src="/static/js/deletion/machines.js"></script>

<script src="/static/js/haslm.js"></script>
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/js/datatables.js"></script>

{% endblock %}
