{% extends "blank.html" %}
{% block title %}
<title>HASLM-manage users</title>
{% endblock %}

{% block head %}
MANAGE USERS
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Register user</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" action="register" method="POST" name="" enctype="multipart/form-data">
                    <fieldset>
                        {{form_register.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form_register.login, class="form-control", placeholder="someone@edu.hse.ru") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form_register.name, class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form_register.surname, class="form-control") }}
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small align-items-center">
                                <input type="checkbox" class="form-control custom-control-input" id="role" name="role">
                                <label class="custom-control-label" for="role">Administrator?</label>
                            </div>
                        </div>
                        <p>{{message_register}}</p>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Delete user</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" action="remove" method="POST" name="" enctype="multipart/form-data">
                    <fieldset>
                        {{form_remove.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form_remove.login, class="form-control", placeholder="someone@edu.hse.ru") }}
                        </div>
                        <p>{{message_remove}}</p>
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

