{% extends "blank.html" %}
{% block title %}
<title>HASLM-manage machines</title>
{% endblock %}

{% block head %}
MANAGE MACHINES
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create machine</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" action="add_machine" method="POST" name="" enctype="multipart/form-data">
                    <fieldset>
                        {{form_add.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form_add.domain, class="form-control", placeholder="dev.haslm.hse.ru") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form_add.host, class="form-control", placeholder="127.0.0.1") }}
                        </div>
                        <p>{{message_add}}</p>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Delete machine</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" action="remove_machine" method="POST" name="" enctype="multipart/form-data">
                    <fieldset>
                        {{form_delete.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form_delete.host, class="form-control", placeholder="256.256.256.256") }}
                        </div>
                        <p>{{message_delete}}</p>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}