{% extends "blank.html" %}
{% block title %}
<title>HASLM-settings</title>
{% endblock %}

{% block styles %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block head %}
SETTINGS
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-8 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Upload ssh-key</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" action="" method="POST" name="upload_key" enctype="multipart/form-data">
                    <fieldset>
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form.name, class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.text, class="form-control") }}
                        </div>
                        <p>{{message}}</p>
                        <input class="btn btn-primary" type="submit" value="Add"> 
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card shadow mb-8">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Administration token</h6>
            </div>
            <div class="card-body">
                <p>
                {% if token is not none %}
                <b>You token is</b>
                <p id="token-text" style="hyphens: auto">{{token}}</p>
                {% else %}
                <p id="token-text" style="hyphens: auto">You have never requested for token, press button below</p>
                {% endif %}
                </p>
                <button type="button" class="btn btn-primary" onclick="getNewToken()">Reissue token</button>
            </div>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Keys</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Data</th>
                        <th class="text-center">Time</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for key in keys.values() %}
                    <tr>
                        <td class="text-center align-middle"> {{key.get('description', '')}} </td>
                        <td class="text-center align-middle"> {{key.get('key', '')}} </td>
                        <td class="text-center align-middle"> {{key.get('update_time', '')}} </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-icon-split delete_k" id="{{current_user.login}},{{key.get('id', '')}}" data-toggle="tooltip">
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Delete</span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_js %}

<script src="/static/js/deletion/keys.js"></script>

<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/js/datatables.js"></script>
<script src="/static/js/haslm.js"></script>
{% endblock %}

