{% extends "blank.html" %}
{% block title %}
<title>TEEEEEST</title>
{% endblock %}

{% block head %}TEEEEEST(KEK){% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create machine</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" id="kkk" method="POST" action="" enctype="multipart/form-data">
                    <fieldset>
                        {{form_add.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form_add.domain, class="form-control add_machine_domain", placeholder="dev.haslm.hse.ru") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form_add.host, class="form-control add_machine_host", placeholder="127.0.0.1") }}
                        </div>
                        <p id="ktk">{{message_add}}</p>
                        <button role="submit" class="btn btn-primary">Create</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Delete machine</h6>
            </div>
            <div class="card-body">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" id="ftt" action="" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        {{form_delete.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form_delete.host, class="form-control del_machine_host", placeholder="256.256.256.256") }}
                        </div>
                        <p id="yuy">{{message_delete}}</p>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <button class="btn btn-primary asdf">test</button>
    </div>
</div>
{% endblock %}

{% block extra_js %}

<script type="text/javascript">
$(function() {
    //hang on event of form with id=myform
    $("#kkk").submit(function(e) {
        e.preventDefault();
        var forma = $("#kkk");
        $.ajax({
            url: "/api/test_post",
            type: "POST",
            data: JSON.stringify({"domain": $(".add_machine_domain").val(),
                                  "address": $(".add_machine_host").val()
                                }),
            contentType: "application/json",
            dataType: "json",
            success: function(data){
                if(data['status'] == 'ok') {
                    $('#ktk').html("Machine was added");
                    $('#yuy').html("");
                } else {
                    $('#ktk').html(data['status']);
                    $('#yuy').html("");
                }
            }
        });
        forma.trigger('reset');
    });

    $("#ftt").submit(function(e) {
        e.preventDefault();
        var forma = $("#ftt");
        $.post("/api/test_post_2", {"address": $(".del_machine_host").val()},
            function(data){
                if(data['status'] == 'ok') {
                    $('#yuy').html("Machine was deleted");
                    $('#ktk').html("");
                } else {
                    $('#yuy').html(data['status']);
                    $('#ktk').html("");
                }
            }, "json");
        forma.trigger('reset');
    });
});
</script>

<script type="text/javascript">
$(document).ready(function(){  
    $(document).on("click", ".asdf", function(){
        console.log($(".c_title")[0].innerHTML.replace('\n', '').replace('\t', '').split('(')[0]);
        $.ajax({
            url: "/api/test_post_3",
            type: "POST",
            data: JSON.stringify({"test": $(".c_title")[0].innerHTML.replace('\n', '').replace('\t', '').split('(')[0]}),
            contentType: "application/json",
            dataType: "json",
            success: function(data){
                if(data['status'] == 'ok') {
                    console.log("ok");
                }
            }
        });
    });
});
</script>

{% endblock %}