{% extends "blank.html" %}
{% block title %}
<title>HASLM-users</title>
{% endblock %}

{% block styles %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block head %}
USERS
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Login</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Surname</th>
                        <th class="text-center">Admin</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in usrs.values() %}
                    <tr>
                        <td class="text-center"><a class="btn btn-link" href="/_user/{{user.get('login', '')}}" role="button"> {{user.get('login', '')}} </a></td>
                        <td class="text-center align-middle"> {{user.get('name', '')}} </td>
                        <td class="text-center align-middle"> {{user.get('surname', '')}} </td>
                        <td class="text-center align-middle"> {{user.get('admin', '')}} </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-icon-split delete_u" id="{{user.get('login', '')}}" data-toggle="tooltip">
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Delete</span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}


{% block extra_js %}

<script src="/static/js/deletion/users.js"></script>

<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/js/datatables.js"></script>

{% endblock %}

