{% extends "blank.html" %}
{% block title %}
<title>HASLM-{{title}}</title>
{% endblock %}

{% block styles %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block head %}{{title}}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Machines</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Domain</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">Open Web Shell</th>
                                <th class="text-center">Connect via SSH</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for machine in machines.values() %}
                            <tr>
                                <td class="text-center"><a class="btn btn-link" href="/machine/{{machine.get('address', '')}}" role="button"> {{machine.get('domain', '')}} </a></td>
                                <td class="text-center align-middle"> {{machine.get('address', '')}} </td>
                                <td class="text-center text-light"><a class="btn btn-primary btn-icon-split" onclick="getWebTerminal('{{machine.address}}')" data-toggle="tooltip" role="button">
                                    <span class="icon">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Open</span>
                                </a></td>
                                <td class="text-center"><button type="button" class="btn btn-primary btn-icon-split ssh_copy" id="ssh {{current_user.login}}@{{machine.get('address', '')}}:22">
                                    <span class="icon">
                                        <i class="fas fa-paste"></i>
                                    </span>
                                    <span class="text">SSH link</span>
                                </button></td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-icon-split delete_a" id="{{title}},{{machine.get('address', '')}}" data-toggle="tooltip">
                                        <span class="icon">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">Revoke</span>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-body border-left-primary">
                {% from "_formhelpers.html" import render_field %}
                <form role="form" action="" method="POST" name="" enctype="multipart/form-data">
                    <fieldset>
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{ render_field(form.host, class="form-control", placeholder="127.0.0.1") }}
                        </div>
                        <p>{{message}}</p>
                        <input class="btn btn-primary" type="submit" value="Grant"> 
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body border-left-primary">
                <div class="table-responsive-sm">
                    <table class="table" id="keysTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in keys.values() %}
                            <tr>
                                <td class="text-center"> {{key.get('description', '')}} </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-icon-split delete_k" id="{{title}},{{key.get('id', '')}}" data-toggle="tooltip">
                                        <span class="icon">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">Del</span>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}

<script src="/static/js/deletion/accesses.js"></script>
<script src="/static/js/deletion/keys.js"></script>

<script src="/static/js/ssh_copy_clipboard.js"></script>

<script src="/static/js/haslm.js"></script>

<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/js/datatables.js"></script>

{% endblock %}

